.con{
    display: flex; margin: 10px; padding: 10px; 
}
.img{
    width: 40%; margin: 20px ; padding: 10px;
}
.img img{
    height: 200px;
}
.des{
    width: 60%;
}
.btn{
    background-color: rgb(89, 226, 101); color: black; font-weight: 400; padding: 10px;
    margin: 5px ; border-radius: 14px;border: none; font-size: 16px;
    transition: background-color 0.6s ease; cursor: pointer;
}
.btn:hover{
    background-color: cadetblue;
}
.flex{
    display: flex;
}
@media only  screen and (max-width:1100px){
    .img img{
        height: 170px;
    }
}
@media only  screen and (max-width:1100px){
    .con{
       flex-direction: column; 
    }
    .img img{
        height: 200px;
    }
    .img , .des{
        width: 100%;
    }
}

@media only screen and (max-width:400px){
    .img img{
        height: 150px;
    }
}